body {
  background-color: #fae493;
  font-family: Verdana, Tahoma, Arial, sans-serif;
  font-size: 16px;
}

p {
  line-height: 30px;
}

/* Links */
a {
  color: black;
}

a:hover {
  color: #fae493;
  cursor: pointer;
  text-shadow: lavenderblush 4px 4px 4px;
}

/* Titles */
h1 {
  font-size: 48px;
  color: black;
  line-height: 200px;
  text-align: center;
  font-weight: bold;
  text-shadow: lavenderblush 4px 4px 4px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #190f33;
  text-align: center;
  margin-bottom: 80px;
}

h3 {
  font-size: 26px;
  color: #190f33;
  font-weight: bold;
  margin-bottom: 40px;
  text-shadow: #fae493 4px 4px 4px;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#about-me h3,
#projects h2 {
  text-shadow: lavenderblush 4px 4px 4px;
}

#education h2,
#contact h2 {
  text-shadow: #fae493 4px 4px 4px;
}
/* --------------------- */
/* MAIN */
/* --------------------- */

.main-block {
  width: 1024px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 20px;
}

/* ------ Navigation ------ */

nav {
  height: 100px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.link {
  flex: 1;
  text-align: center;
  color: #190f33;
  font-size: 20px;
  text-decoration: none;
}

/* ------ Main Picture ------ */

.large-img {
  height: 400px;
  width: 1024px;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

/* ------ ALL SECTIONS ------ */

#about-me,
#education,
#projects,
#contact {
  padding: 100px;
}

#education,
#contact {
  background-color: lavenderblush;
}

/* ------ Section : about me ------ */

/* Informations */
.informations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.profile-image {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 80px;
  border: solid lavenderblush 3px;
}

.informations-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 38px;
  font-weight: bold;
  color: #190f33;
  margin-bottom: 50px;
  text-shadow: #fae493 4px 4px 4px;
}

.city {
  font-size: 30px;
  font-style: italic;
  color: #190f33;
}

/* About */
.about-text {
  text-align: justify;
}

/* ------ Section : education ------ */

.education-text,
.education-text {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 80px;
}

.technologies-logos {
  display: flex;
  justify-content: space-around;
}

.technologies-logos img {
  height: 100px;
}

.education-text span {
  font-weight: bold;
}

/* ------ Section : projects ------ */

.project {
  display: flex;
  margin-bottom: 180px;
}

.projects-text {
  text-align: center;
  margin-bottom: 120px;
}

.bold-text {
  font-weight: bold;
}

.project img {
  width: 500px;
  margin-right: 60px;
}

.project-images {
  display: flex;
}

.project-images img {
  width: 240px;
  height: 500px;
  box-shadow: lavenderblush 4px 4px 4px;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style-type: disc;
  line-height: 30px;
}

/* ------ Section : contact ------ */

#contact {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.contact-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-line {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-line img {
  height: 30px;
  margin-right: 20px;
}

/* --------------------- */
/* FOOTER */
/* --------------------- */

footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #c4c4c4;
}

footer a {
  text-decoration: none;
  color: #fcc01a;
}

footer p,
footer a {
  line-height: 40px;
}

footer a:hover {
  color: #190f33;
}
